###############################################################
#This config file is part of the isobarQuant package,
#written by Toby Mathieson and Gavain Sweetman
#(c) 2016 Cellzome GmbH, a GSK Company, Meyerhofstrasse 1,
#69117, Heidelberg, Germany.

#The isobarQuant package processes data from
#.raw files acquired on Thermo Scientific Orbitrap / QExactive / Fusion
#instrumentation working in  HCD / HCD or CID / HCD fragmentation modes.
#It creates an .hdf5 file into which are later parsed the results from
#Mascot searches. From these files protein groups are inferred and quantified.

#This config file is used by outputResults.py

#isobarQuant is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

#A copy of the license should have been part of the
#download. Alternatively it can be obtained here:
#https://github.com/protcode/isob
###############################################################

[runtime]
paramconversion:    {'path':['datadir']}
datadir:            c:/fs/data/dump
filename:           0010_F1_R1_P00060A01_SILAC3.hdf5
datfile:            F217363.dat

[models]
paramconversion: {'bool': ['compare']}
# model requires exact/averagine and is used to determine the model to use in isotope matching.
primary_model:   exact
# compare = 1 forces the code to compare the second model as well as the primary_model
#      storing the results in quantcomp table
compare:      0


[logging]
paramconversion:    {'path':['logdir']}
logdir:             logs
logfile:            ms1quant.log
screenlevel:        WARNING
loglevel:           INFO

[general]
paramconversion:    {'eval':['labelnames', 'hyperplexed'],
                    'float':['minscore', 'neutron'],
                    'int': ['txtoutput'],
                    'list': ['xiconly']}
pid:                0
labelnames:         {'SILAC': [10], 'Dimethyl': [11,12,15], 'S2ME': [16]}
hyperplexed:        {12:(['+'],['K']),16:(['+'],['K','R'])}
xiconly:            11,12,15,10
minscore:           0
# if suffix is set to 'not_set', then the current date and time will be appended to the output file names
suffix:             not_set
txtoutput:          0
neutron:            1.0033548


[xic]
paramconversion: {'float': ['afterpeak', 'beforepeak', 'rtoverlap', 'blockwidth', 'rtoversmall', 'blockwsmall',
                            'valley', 'threshold', 'overlaptol', 'rtallowleft', 'rtallowright'],
                  'int': ['binsperda', 'bintol_mda', 'clustgap', 'av_window']}
binsPerDa:       1000
afterpeak:       0.5
beforepeak:      0.5
binTol_mDa:      200
RToverlap:       1.5
blockWidth:      5
RToverSmall:     1
blockWsmall:     3
clustgap:        3
av_window:       3
valley:          0.5
threshold:       1.4
overlaptol:      0.1
rtallowleft:     0.1
rtallowright:    0

[deisotoping]
paramconversion: {'float': ['blindswitch', 'tolmda', 'tolppm', 'ls_limit', 'int_limit'],
                  'int': ['maxxicls', 'maxspecls', 'limit_xics', 'nummissincorp', 'numpeaksforfit']}
blindswitch:     0.1
maxXICls:        0
maxSpecLS:       0
tolmda:          8
tolppm:          8
limit_XICs:      1
numMissIncorp:   0
numPeaksForFit:  3
RToverSmall:     1
ls_limit:        0.001
int_limit:       0.05

[output]
paramconversion: {'eval':['reportisos'],
                  'path':['outdir']}
outdir:         additional_data
fitting:        fitting
separate:       separate
together:       together
reportIsos:     [-1,0,1,2,3,4,5]

[isotopecalc]
paramconversion: {'float': ['calcmininten', 'reportmininten', 'minmissincorp']}
calcMinInten:    0.0000001
reportMinInten:  0.01
minMissIncorp:   0.005
