###############################################################
#This config file is part of the isobarQuant package,
#written by Toby Mathieson and Gavain Sweetman
#(c) 2015 Cellzome GmbH, a GSK Company, Meyerhofstrasse 1,
#69117, Heidelberg, Germany.

#The isobarQuant package processes data from
#.raw files acquired on Thermo Scientific Orbitrap / QExactive
#instrumentation working in  HCD / HCD or CID / HCD fragmentation modes.
#It creates an .hdf5 file into which are later parsed the results from
#Mascot searches. From these files protein groups are inferred and quantified.

#This config file is used by preMascot.py

#isobarQuant is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

#A copy of the license should have been part of the
#download. Alternatively it can be obtained here:
#https://github.com/protcode/isob/
###############################################################

[runtime]
paramconversion:    {'path': ['datadir']}
datadir:            c:/myproject
quant:              0

[logging]
logdir:             logs
logfile:            preMascot.log
screenlevel:        WARNING
loglevel:           DEBUG

[general]
tolppm:           8
tolmda:           8
beforepeak:       0.5
afterpeak:        0.5
