###############################################################
#This config file is part of the isobarQuant package,
#written by Toby Mathieson and Gavain Sweetman
#(c) 2016 Cellzome GmbH, a GSK Company, Meyerhofstrasse 1,
#69117, Heidelberg, Germany.

#The isobarQuant package processes data from
#.raw files acquired on Thermo Scientific Orbitrap / QExactive / Fusion
#instrumentation working in  HCD / HCD or CID / HCD fragmentation modes.
#It creates an .hdf5 file into which are later parsed the results from
#Mascot searches. From these files protein groups are inferred and quantified.

#This config file is used by proteinInference.py

#isobarQuant is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

#A copy of the license should have been part of the
#download. Alternatively it can be obtained here:
#https://github.com/protcode/isob
###############################################################

[runtime]
paramconversion:    {'path': ['datadir'], 'int': ['quantmethod_id'],
                     'list':['filelist']}
# list of MS.hdf5 files
filelist:           MS1.hdf5,MS2.hdf5
# (stem)name of the resultsfile to be created
resultfilename:     results.hdf5
# location of MS.hdf5 results files
datadir:            c:/myproject
# default setting of quantmethod TMT10
quantmethod_id:     1


[general]
paramconversion:    {'int':['minnumhook'], 'float': ['fdrthreshold'],  'bool': ['dopickedproteinfdr','groupbygenename']}
minnumhook:         1
dopickedproteinfdr:        yes
fdrthreshold:       0.01
groupbygenename:   yes

[logging]
logdir:             logs
logfile:            proteinInference.log
screenlevel:        WARNING
loglevel:           WARNING
